html {
    /* --- CSS CUSTOM PROPERTIES --- */

    /* Background colours */
    --primary-purple-1: #7581BF;
    --primary-purple-2: #9aa6e4;
    --primary-purple-3: #d4dbff;
    --secondary-blue:  #0065A4;
    --secondary-dark-blue: #004982;
    --secondary-dark-grey: #666666;
    --secondary-light-grey: #EDEDED;
    --background: #ffffff;

    /* Foreground colours*/
    --white: #ffffff;
    --black: #000000;
    --grey: #222222;

    /* Fonts */
    --font-impact: 'Roboto', helvetica, arial, sans-serif;
}

body {
    background-color: var(--background);
    color: var(--black);
    font: normal normal 1em/2 var(--font-impact);
    margin: 0em;
    text-align: center;
    /* Line-height shorcut = 1em/2 */
}

.nav-bar{
    width: 100%;
    background-color: var(--secondary-blue);
    overflow: hidden;
}

  /* Drop Down Div*/
.dropdown{
    float: left;
    height: 5em;
    overflow: hidden;
}

  /*Drop Down Button*/
.dropbtn{
    height: 7em;
    width: 7em;
    border: none;
    outline: none;
    background: var(--secondary-blue);
    padding: 0em;
    margin: 0em;
}

  /*Icons Images*/
.icons{
    height: 1.5em;
    width: auto;
    padding-left: 0.5em;
    padding-top: 1.75em;
    padding-right: 0.5em;
    padding-bottom: 1.75em;
}

/* Dropdown content (hidden by default) */
.dropdown-content{
    display: none;
    position: absolute;
    background-color:var(--secondary-light-grey);
    min-width: 15em;
    box-shadow: 0em 0.75em 1em 0em;
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    float: center;
    color: var(--white);
    background-color: var(--secondary-dark-blue);
    padding: 1em 1em;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover{
    background-color: var(--secondary-light-grey);
    color: var(--secondary-dark-blue)
}
  
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/*GBCLogo Div*/
.gbclogo{
    float: left;
    height: 5em;
    width: auto;
    padding: 0em;
}

/*Right-icon Div*/
.right-icon{
    float: right;
    padding-right: 1em;
}

.icons {
    height: 2em;
}

h1 {
    font-size: 3em;
    color: var(--white);
    background-color: var(--primary-purple-1);
    width: 100%;
    margin-top: 0em;
    margin-bottom: 0em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    font-family: var(--font-impact);  
}

.article1 , .article2 , .article3 , .article4 {
    background-color: var(--secondary-light-grey);
    padding: 2em;
}

/* ARTICLE 1 - Description */
.greytext {
    color: var(--secondary-dark-grey);
}

h2 {
    color: var(--primary-purple-1);
    margin-top: 0em;
    margin-bottom: 0em;
    font-size: 2.5em;
}

h3, h4 {
    font-size: 1.5em;
    font-family: var(--font-impact);
    font-weight: 900;
    text-transform: uppercase;
    margin-top: 0em;
}
.btns {
    background-color: var(--primary-purple-1);
    border: none;
    color: var(--white);
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    text-transform: uppercase;
    font-family: var(--font-impact);
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
}

ul {
    list-style-type: none;
    padding: 0em;
}

/* ARTICLE 2 - SKILLS */
.article2 {
    background-color: var(--primary-purple-3);
}
.article2 h3 {
    color: var(--white);
    background-color: var(--primary-purple-1);
    padding: 0.5em 0em 0.5em 0em;
}

.skills-grid-container {
    margin: auto;
    background: var(--primary-purple-3);
}
.skills-grid {
    font-family: var(--font-impact);
    background: var(--primary-purple-3);
    display: grid;
    grid-gap: 0.5em;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.5em;
}

.skills-grid li {
    background-color: var(--primary-purple-1);
    color: var(--white);
}

/* ARTICLE 3 - PROJECTS DONE BY STUDENTS */
.article3 {
    background: var(--secondary-dark-grey);
}

.article3 h3 {
    color: var(--white);
}

img{
    max-width: 100%;
}

.grid-container1{
    margin: auto;
    border: 1em;
    background: var(--secondary-dark-grey);
}

.img-grid1{
    background: var(--secondary-dark-grey);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
}

/* ARTICLE 4 - Career Opportunities */
.article4 {
    color: var(--primary-purple-1);
}
.banner2 {
    width: 100%;
    height: auto;
    display: block;
    text-align: center;
    margin: 0em;
}

.jobs-grid-container {
    margin: auto;
    background-color: var(--white);
}
.jobs-grid {
    font-family: var(--font-impact);
    background: var(--secondary-light-grey);
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr 1fr;
}

.jobs-grid li {
    color: var(--primary-purple-1);
    background-color: var(--white);
    padding: 0.75em;
}
/* ARTICLE 5 - STUDENT SUCCESS */
.article5 {
    background-color: var(--secondary-light-grey);
}

.grid-container2{
    padding: 1em 1em 1em 1em;
    background-color: var(--secondary-light-grey);
    border: 1em;

}

.img-grid2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1em ;
    margin-bottom: 0em;
}
.company {
    width: 100%;
}

.article5 h3 {
    background-color: var(--primary-purple-1);
    color: var(--white);
    padding-top: 1em;
    padding-bottom: 1em;
}
.article5 p {
    padding: 0em 3em 0em 3em;
}

/* ARTICLE COURSES */
.courses {
    background-color: var(--primary-purple-2);
    padding: 2em;
    margin-bottom: 2em;
}

.courses h3 {
    color: var(--white);
}

.semesters {
    background-color: var(--primary-purple-3);
}

.semesters p {
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-bottom: 1.5em;
}

.semester{
    background-color: var(--primary-purple-1);
    border: none;
    color: var(--white);
    padding: 0em;
    padding-top: 1em;
    padding-bottom: 1em;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-family: var(--font-impact);
    width: 100%;
}

/* FOOTER */
.gbclogo2 {
    float: right;
    height: 7em;
    width: auto;
}

.grid-container3{
    border: var(--secondary-blue) solid 10px;
    background: var(--secondary-blue);
}

.img-grid3 li {
    text-align: left;
    font-size: 0.8em;
}

.img-grid3{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
}
.grid-container4{
    border: var(--secondary-blue) solid 10px;
    background: var(--secondary-blue);
}

.img-grid4{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 0.5em;
}

.socials {
    height: 3em;
    width: auto;
}

.bottomnav {
    background-color: var(--secondary-blue);
    color: var(--white);
}

/* For mobile phones: */

 @media only screen and (min-width: 320px) {
    .img-grid1 {
        grid-template-columns: 1fr;
    }
    .skills-grid {
        grid-template-columns: 1fr;
        grid-gap: 0.25em;
    }
    .skills-grid li {
        padding: 0.75em;
    }
    .img-grid4 {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .jobs-grid {
        grid-template-columns: 1fr;
        grid-gap: 0.25em;
    }
    
    .jobs-grid li {
        padding: 0.75em;
    }
 }

/* For desktop: */
  @media only screen and (min-width: 768px) {
    
    .page-content {
        padding-right: 15%;
        padding-left: 15%;
    }
    .banner1 {
        width: 70%;
        height: auto;
        margin-left: 15%;
        margin-right: 15%;
    }
    .skills-grid {
        grid-template-columns: 1fr 1fr;
    }
    .img-grid1 , .img-grid3 {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
  