html {
    /* --- CSS CUSTOM PROPERTIES --- */

    /* Background colours */
    --primary-purple-1: #7581BF;
    --primary-purple-2: #9aa6e4;
    --primary-purple-3: #d4dbff;
    --secondary-blue:  #0065A4;
    --secondary-dark-blue: #004982;
    --secondary-dark-grey: #666666;
    --secondary-light-grey: #EDEDED;
    --background: #ffffff;
    --error: #C00909;

    /* Foreground colours*/
    --white: #ffffff;
    --black: #000000;
    --grey: #222222;
    --on-error: #E1E1E1;

    /* Fonts */
    --font-standard: 'PT Serif', georgia, serif;
    --font-impact: 'Roboto', helvetica, arial, sans-serif;
}
body {
    background-color: var(--background);
    color: var(--black);
    font: normal normal 1em/2 var(--font-standard);
    margin: 0em;
    /* Line-height shorcut = 1em/2 */
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-impact);
    font-weight: 900;
    color: var(--white);
}
h2{
    text-transform: uppercase;
}
.topnav {
    background-color: var(--secondary-blue);
    color: var(--on-primary);
    height: 5em;
    width: 100%;
}
.bottomnav {
    background-color: var(--secondary-blue);
    color: var(--on-primary);
}
.department {
    background-color: var(--primary-purple-1);
    color: var(--on-primary);
    margin: 0em;
    padding: 0em;
    margin-bottom: 2em;
    text-align: center;
}
ul {
    list-style-type: none;
}
/* Drop Down Menu */
.dropbtn {
    background-color: var(--secondary-blue);
    color: var(--white);
    padding: 1em;
    font-size: 1em;
    border: none;
  }
  
.dropdown {
    position: relative;
    display: inline-block;
  }
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--secondary-light-grey);
    color: var(--grey);
    min-width: 15em;
    box-shadow: 0em 0.75em 1em 0em;
    z-index: 1;
  }
  
.dropdown-content a {
    color: var(--grey);
    padding: 1em 1.5em;
    text-decoration: none;
    display: block;
  }
  
.dropdown-content a:hover {
    background-color: var(--secondary-dark-grey);
    color: var(--white);
}
  
.dropdown:hover .dropdown-content {
    display: block;
}
  
.dropdown:hover .dropbtn {
    background-color: var(--secondary-dark-blue);
}

/* Images */

.gbclogo {
    width: auto;
    height: 5em;
}

.banner1 {
    width: 100%;
    height: auto;
}
.banner2 {
    width: 100%;
    height: auto;
    display: block;
    text-align: center;
}

.grid-container-work{
    display: grid;
    grid-template-columns:  auto auto auto;
    grid-gap: 1em;
    background-color: var(--primary-purple-3);
    text-align: center;
    padding: 1em;
    font-size: 1em;
    list-style-type: none;
}
.skills1 {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 1;
}
.skills2 {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 2;
    grid-column-end: 2;
}
.skills3 {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 3;
    grid-column-end: 3;
}
.skills4 {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 4;
    grid-column-end: 4;
}
.skills5 {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 1;
}
.skills6 {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 2;
}
.skills7 {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 3;
}
.skills8 {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 4;
    grid-column-end: 4;
}
.work1 {
    width: 25%;
    height: auto;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 1;
}
.work2 {
    width: 25%;
    height: auto;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 2;
    grid-column-end: 2;
}
.work3 {
    width: 25%;
    height: auto;
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 1;
}
.work4 {
    width: 25%;
    height: auto;
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 2;
}

.item {
    padding: 0.1em;
    text-align: center;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
  }
  
  @media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }
